/* Estilos básicos */
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Incluye padding y border en el cálculo del ancho */
    background-color: #f4f4f4; /* Color de fondo para toda la página */
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em; /* Tamaño del título */
}

header nav {
    margin-top: 10px; /* Espacio debajo del título */
}

header nav a {
    color: #fff;
    margin: 0 1em;
    text-decoration: none;
    font-size: 1.2em; /* Tamaño del texto del menú */
}

header nav a:hover {
    text-decoration: underline;
}

/* Estilos generales para el contenido */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 100px); /* Altura mínima del main, ajustada para incluir el header */
    padding: 20px;
}

section {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: none; /* Elimina la sombra para no tener recuadro */
    max-width: 600px; /* Ajusta el ancho máximo al 100% del contenedor */
    width: 100%;
    margin: 0 auto; /* Centra la sección */
    text-align: center; /* Centra el contenido del formulario */
}

/* Estilos para #game-setup */
#game-setup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-setup label {
    margin-top: 1rem;
    width: 100%; /* Ancho completo del contenedor */
    text-align: left; /* Alineación del texto a la izquierda */
    max-width: 500px; /* Ancho máximo del contenedor */
}

#game-setup input,
#game-setup select,
#game-setup button {
    margin-bottom: 15px; /* Espacio entre los elementos del formulario */
    width: 100%; /* Ancho completo del contenedor */
    max-width: 500px; /* Ancho máximo del formulario */
    padding: 10px;
    box-sizing: border-box; /* Incluye el padding en el cálculo del ancho */
}
#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
}

#contact-form h2 {
    margin-bottom: 20px;
    font-size: 2em;
}

#contact-form form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
}

#contact-form label {
    margin-top: 1rem;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    width: 100%;
    text-align: left;
}

#contact-form input,
#contact-form textarea {
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

#contact-form textarea {
    height: 150px;
    resize: vertical;
}

#contact-form button {
    background-color: orange;
    color: white;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    font-size: 1.2em;
}

#contact-form button:hover {
    background-color: darkorange;
}

button {
    background-color: orange;
    color: white;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%; /* Ancho completo del contenedor */
    max-width: 500px; /* Ancho máximo del botón */
}

button:hover {
    background-color: darkorange;
}

/* Estilos para el tablero de juego */
#board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    width: 100%;
    max-width: 400px; /* Ajustar el tamaño del tablero para que quepa en pantalla */
    margin: 0 auto; /* Centra el tablero en la pantalla */
}

#board div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    font-size: 1.2em;
    cursor: pointer;
    height: 60px;
}

/* Colores para las letras seleccionadas y el borde */
.selected {
    background-color: orangered;
    color: yellow;
}

.last-selected {
    border: 2px solid red;
}

/* Colores para las letras que pueden ser seleccionadas */
.next-selectable {
    color: orange
}

/* Estilos para el ranking */
#ranking {
    padding: 20px;
}

#ranking h2 {
    margin-top: 0;
}

#ranking ul {
    list-style-type: none;
    padding: 0;
}

#ranking li {
    padding: 5px 0;
}

/* Estilo para el temporizador */
#timer {
    font-size: 30px;
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    border: 2px solid #000;
    width: fit-content;
}

#timer.warning {
    color: red;
    border-color: red;
}

/* Palabra actual y botón enviar */
#current-word-container {
    text-align: center;
    margin-bottom: 20px;
}

#current-word {
    font-size: 24px;
    margin-bottom: 10px;
}

#submit-word {
    font-size: 18px;
    padding: 10px;
    background-color: orange;
    color: white;
    border: none;
    cursor: pointer;
}

#submit-word:hover {
    background-color: darkorange;
}

/* Puntuación */
#score {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

/* Modal */
/* Modal (background) */
.modal {
    display: none; /* Ocultado por defecto */
    position: fixed; /* Fijo en la pantalla */
    z-index: 1000; /* Asegúrate de que esté por encima del contenido */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Alto completo */
    overflow: auto; /* Agrega barra de desplazamiento si es necesario */
    background-color: rgba(0,0,0,0.4); /* Fondo negro con opacidad */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto; /* Centra el contenido horizontalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ancho del contenido ajustado para móviles */
    max-width: 500px; /* Ancho máximo del contenido */
    position: absolute; /* Posiciona el modal contenido */
    top: 50%; /* Ajusta la posición desde el borde superior */
    left: 50%; /* Ajusta la posición desde el borde izquierdo */
    transform: translate(-50%, -50%); /* Centra el modal tanto vertical como horizontalmente */
    box-sizing: border-box; /* Asegura que padding y border se incluyan en el ancho total */
}

/* Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Media Queries */
@media (max-width: 600px) {
    .modal-content {
        width: 90%; /* Ancho del contenido ajustado para pantallas más pequeñas */
        max-width: none; /* Elimina el ancho máximo en pantallas más pequeñas */
    }

    .close {
        font-size: 24px; /* Tamaño del botón de cerrar reducido para pantallas más pequeñas */
    }
}

/* Media queries para responsividad */
@media (max-width: 768px) {
    header h1 {
        font-size: 1.5em;
    }

    header nav a {
        font-size: 1em;
    }

    section {
        padding: 10px;
    }

    #board div {
        font-size: 1em;
        height: 50px;
    }

    #timer {
        font-size: 24px;
    }

    #current-word {
        font-size: 20px;
    }

    #submit-word {
        font-size: 16px;
    }

    #score {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.2em;
    }

    header nav a {
        font-size: 0.8em;
        margin: 0 0.5em;
    }

    #board div {
        font-size: 0.8em;
        height: 40px;
    }

    #timer {
        font-size: 20px;
    }

    #current-word {
        font-size: 18px;
    }

    #submit-word {
        font-size: 14px;
    }

    #score {
        font-size: 16px;
    }
}

/* Palabra actual y botones enviar y borrar */
#current-word-container {
    text-align: center;
    margin-bottom: 20px;
}

#current-word {
    font-size: 24px;
    margin-bottom: 10px;
}

#submit-word,
#clear-word {
    font-size: 18px;
    padding: 10px;
    background-color: orange;
    color: white;
    border: none;
    cursor: pointer;
    margin: 5px; /* Espacio entre los botones */
}

#submit-word:hover,
#clear-word:hover {
    background-color: darkorange;
}
